IndividualMiniprojectC++/.vscode/
IndividualMiniprojectC++/external_libraries/boost_1_85_0
IndividualMiniprojectC++/external_libraries/Crow-1.2.0-Darwin
IndividualMiniprojectC++/external_libraries/asio-master
IndividualMiniprojectC++/external_libraries/asio.hpp
IndividualMiniprojectC++/IndividualMiniproject.exe
IndividualMiniprojectC++/IndividualMiniprojectTests.exe
IndividualMiniprojectC++/
IndividualMiniprojectC++/build/*
!IndividualMiniprojectC++/build/README.txt
!IndividualMiniprojectC++/external_libraries/README.txt
_deps/
CMakeFiles/
lib/
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
IndividualMiniprojectTests[1]_include.cmake
Makefile